.image {
  background-color: #00000096;
  max-width: 1280px;
  max-height: 100%;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s linear;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  z-index: 2;
}

@media screen and (min-width: 1280px) {
  .image {
    width: 100%;
  }
}
