.element__image {
  object-fit: cover;
  width: 282px;
  height: 282px;
  object-position: center;
  padding: 0;
  margin: 0;
  border-radius: 15px 15px 0 0;
  grid-row: 1;
  grid-column: 1;
}

.element__image:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}
