.element__likes {
  grid-row: 2;
  grid-column: 1;
  color: #000000;
  margin: 0;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  max-width: 210px;
  align-self: center;
  justify-self: end;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
}