.header {
  margin: 28px 0;
  padding: 0 27px 31px 27px;
  display: flex;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header {
    margin: 45px 32px 40px 32px;
    padding: 0 0 40px 0;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    margin: 45px 200px 40px 200px;
    padding: 0 0 40px 0;
  }
}